@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Dongle', sans-serif;


}

h1 {
  font-size: 4em;
}


#nav {
  margin: 0 auto;
  width: 100%;
  /* border: 1px solid red; */
  text-align: center;
  font-size: 2.5em;

}

label {
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  width: 30%;
  text-align: center;
  /* border: 1px solid red; */
  color: #ffffff;
  /* padding: 10px 15px; */
  /* background: #f2f2f2; */
  /* color: #4D4D4D; */
  /* text-decoration: none; */
  /* font-weight: bold; */
  /* font-size: 14px; */
  /* text-align: center; */
  /* -webkit-border-radius: 6px 6px 0px 0px; */
  /* border-radius: 6px 6px 0px 0px; */
}

label:hover {
  border-bottom: 2px solid yellow;
}

input[name=content] {
  display: none;
}

input[name=content]+div {
  display: none;
}

input[name=content]:checked+div {
  display: block;
  width: 80%;
  margin: 0 auto;
  font-size: 2em;
}

div img {
  /* border-radius: 100px; */
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  /* top: 0; */
}

footer {
  bottom: 0;
  /* position: fixed; */
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size:1.5em;
  /* border: 1px solid red; */

}

#copyright:active {
  color: blue;
}
